body {
    background: linear-gradient(90deg, #000, rgb(134, 134, 134));
}

#countLabel {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size:100px;
    color: white;
    transition: 0.5s ease;
}

button {   
    padding: 1rem;
}

.buttons {
    text-align: center;
}